.currency_converter-section
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15px;

	padding: 20px;

	background-color: #f9f9f9;
	
	border-radius: 8px;
	
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.currency_converter-section .last-updated
{
	margin: -22px 0 10px;
	font-size: 12px;
	
	color: #666;
}

.currency_converter-section .error-div
{
	color: #900;
	
	text-align: center;
}

.currency_converter-section .error-div p
{
	margin: 5px 0;
}

.currency_converter-section .error-div .retry-button
{
	margin: 10px 0;
	padding: 8px 16px;

	background-color: #666;
	color: #fff;

	border: none;
	border-radius: 4px;

	cursor: pointer;
}

.currency_converter-section .error-div .retry-button:hover
{
	background-color: #555;
	transition: background-color 0.15s ease-in-out;
}

.currency_converter-section label
{
	color: #333;

	font-size: 16px;
	font-weight: bold;
}

.currency_converter-section input:not([type="checkbox"])
{
	width: 200px;
	
	padding: 8px;
	
	border: 1px solid #ccc;
	border-radius: 4px;
}

.currency_converter-section .currency-selection
{
	display: flex;
	align-items: center;
	gap: 10px;
}

.currency_converter-section .currency-selection .checkbox-group
{
	max-height: 150px;
	
	display: flex;
	flex-direction: column;
	
	padding: 5px;
	
	background-color: #fff;
	
	border: 1px solid #ccc;
	border-radius: 4px;
	
	overflow-y: auto;
}

.currency_converter-section .currency-selection .checkbox-group .checkbox-item
{
	margin: 3px 15px;
}

.currency_converter-section .currency-selection .checkbox-group .checkbox-item label
{
	margin-left: 10px;
}

.currency_converter-section .conversion-results
{
	margin-top: 10px;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.currency_converter-section .divider
{
	width: 80%;
	height: 1px;

	background-color: #ccc;

	border: 1px solid #ccc;
}

.currency_converter-section .history-list
{
	width: 100%;
	max-height: 200px;

	text-align: center;

	overflow-y: auto;
}

.currency_converter-section .history-list ul
{
	margin: 0;
	padding: 0;

	list-style-type: none;
}